<div ng-controller="ItemCtrl">

    <h1>{{ item.name }}</h1>

    <table>
        <tr>
            <td>Quantity:</td>
            <td>{{ item.quantity }}</td>
        </tr>
        <tr>
            <td>Market Price:</td>
            <td>{{ item.marketPrice }}</td>
        </tr>
        <tr>
            <td>Historical Price:</td>
            <td>{{ item.historicalPrice }}</td>
        </tr>
    </table>
</div>

<div ng-controller="Another">
    Realm: {{ store.realm.name }}
    Region: {{ store.region }}
</div>
