
<form name="reg" ng-controller="RealmCtrl">
    <label>Region:</label>
    <input type="radio" ng-model="store.region" value="us"> US
    <input type="radio" ng-model="store.region" value="eu"> EU
</form>

<div ng-controller="RealmCtrl">
    <label>Realm:</label>
    <select ng-model="store.realm" ng-options="realm.name for realm in realms"></select>
</div>

<form name="itt" ng-submit="getItem()" ng-controller="SearchItemCtrl">
    <label>Item:</label>
    <input type="text" ng-model="itemId" />
</form>
